@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #27aae1 0%, #fcecdd 50%, #1b75bc 100%);
  min-height: 100vh;
  color: #fff;
  max-width: 100%;
}

body {
  max-width: ;
  margin: 0;
}

.fonts-loaded {
  font-family: "Roboto", sans-serif;
}

section {
  max-width: 100%;
}

.options {
  text-decoration: none;
}

ul {
list-style-type: none;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid white;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card {
  border: 4px solid;
  border-radius: 8px;
  font-style: normal;
  text-decoration: none;
  padding: 0;
  background-color: rgba(105, 105, 105, 0.4);
}

.card h2 {
  color: #212121;
}

.card p {
  color:;
}

.card:hover {
  border-color: #e2e2e2;
}

.card:hover h2, .card:hover p, .card:hover svg {
  fill: #f1f1f1;
}

.to-do-card {
padding: 0em 2em;
}

.card-pad {
  padding: 0em 2em;
}

.city {
  margin: 0;
}

.temp {
  text-decoration: none;
  color: #fff;
}

.article-link {
  text-decoration: none;
  color: #fff;
}

.news {
  padding: 0em 2em;
}

.greeting {
  margin: 0;
}

.temp, .city, .weather-cond {
  font-weight: 200;
}

@media only screen and (min-width: 60em) {

  html {
    overflow: hidden;
  }

  .news-scroll {
    height: 35em;
    overflow: scroll;
  }
}
